@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Ranchers', Arial, Helvetica, sans-serif;
    background:#242424;
}

.container{
    /* width:800px;
    height:800px; */
    max-width:700px;
    margin:0 auto;
    display: grid;
    grid-template-columns: auto auto;
    /* border:1px solid red; */
}

.board {
    display:grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    font-size:1.25rem;
    font-family: "Dosis", Arial, sans-serif;
    font-weight: bold;
    position: relative;
    /* pointer-events: none; */
    border:3px solid #440000;
    width:400px;
    /* margin:0 auto; */
}

/* .display{
    border:1px solid yellow;
} */

.target-square{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 900;
    color:#e0ac1c;
    pointer-events: none;
}

.lSq, .dSq {
    width:50px;
    height:50px;
}

.lSq {
    background-color: #f3f3f3;
    color:#440000;
}

.dSq {
    background-color: #440000;
    color:#f3f3f3;
}

.square{
    display: flex;
}

.square:hover {
    background-color:#5aa800;
}

.file {
    font-size: 1.2em;
    align-self: flex-end;
    pointer-events: none;
}


.rank {
    pointer-events: none;
}