@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    background:#f1f1f1;
    position: relative;
    min-height: 100vh;
}

header{
    background:#568695;
    color:#fff;
}

nav{
    padding:0.5em;
    font-weight: 900;
    margin:0 auto;
    width:300px;
}

.container{
    max-width:850px;
    margin:1rem auto 0;
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
}

.board {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    font-size:1.25rem;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: bold;
    position: relative;
    pointer-events: none;
    border:3px solid #440000;
    width:300px;
    height:300px;
    margin: 0 auto;
}

.board-wrapper{
    width:306px;
    margin: 0 auto;
}

.display{
    width: 306px;
    margin: 0 auto 3rem;
    display: grid;
    gap:2px;
}

.game-data{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:rgb(41, 41, 41);
    gap:2px;
}

.message, .results{
    background:#fff;
    padding: 1rem;
    line-height: 140%;
}

.message h3{
    text-align: center;
}

.results{
    display: none;
}

table{
    margin:0 auto;
}

th, td{
    text-align: center;
    padding:12px 14px;
}

.target-square{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 900;
    color:#e0ac1c;
    pointer-events: none;
}

.lSq {
    background-color: #fff;
    color:#440000;
}

.dSq {
    background-color: #440000;
    color:#fff;
}

.square{
    display: grid;
}

.square:hover {
    background-color:#5aa800;
}

.file {
    font-size: 0.8em;
    align-self: flex-end;
    pointer-events: none;
    opacity:0.5;
}

.rank {
    pointer-events: none;
    opacity:0.5;
    font-size: 0.8em;
}

.start-btn{
    font-family: 'Roboto', Arial;
    font-weight: bold;
    font-size:1.2rem;
    padding:12px 16px;
    background:#fff;
    color:rgb(41, 41, 41);
    width: 100%;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
}

.close{
    background:rgb(172, 1, 1);
    color:white;
    align-self: flex-end;
    font-family: 'Roboto', Arial;
    font-weight: bold;
    font-size:1.2rem;
    padding:6px 8px;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
}

.start-btn:hover{
    background:#5aa800;
    color:#fff;
}

.accuracy-box, .score-box{
    text-align: center;
    padding: 1rem;
    background:#fff;
    pointer-events: none;
}

.score, .percentage{
    font-size: 2rem;
}

.time-progress{
    width:100%;
    height:0.5em;
    background:#5aa800;
    transition:width 1s linear;
    display: none;
    margin-top: 1em;
}

.correct{
    background:#5aa800;
    color:white;
}

.incorrect{
    background:#b10000;
    color:white;
}

.settings{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap:2px
}

.cog{
    background:white;
    color:#505050;
    border:none;
    font-size: 1.5rem;
    cursor: pointer;
}

.cog:hover{
    background:#2196F3;
    color:white;
}

.modal{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.6);
    display: none;
    align-items: center;
    justify-content: center;
    width:100%;
    z-index:10;
}

.modal-inner{
    background:white;
    margin:1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
}

.modal-inner h2{
    text-align:center;
}

.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:250px;
    color:#505050;
    font-style: italic;
    text-transform: uppercase;
}

.switch {
    position: relative;
    display: inline-block;
    width: 74px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(38px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
}

footer{
    position: absolute;
    bottom:0;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer a{
    text-decoration: none;
    padding:0.5rem;
    color:rgb(165, 165, 165);
}


@media screen and (min-width:600px){
    .board{
        width:400px;
        height:400px;
    }

    .board-wrapper, .display, nav{
        width:406px;
    }

    .display{
        grid-template-columns:1fr;
    }
}

@media screen and (min-width:850px){
    nav{
        width:850px;
        font-size: 1.2rem;
        /* letter-spacing: 2px; */
    }
    .container{
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "data board";
    }

    .board-wrapper{
        grid-area: board;
    }

    .display{
        grid-area: data;
        grid-template-columns: 1fr;
        /* max-width: 350px; */
        grid-auto-rows: minmax(min-content, max-content);
    }

    .message, .results{
        grid-column:1 ;
    }

    .time-progress{
        height:1em;
    }

    .rank, .file{
        font-size:1.2rem;
    }
}