body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    /* width:800px;
    height:800px; */
    max-width:700px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.board {
    display:grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    font-size:20px;
    font-family: "Dosis", Arial, sans-serif;
    font-weight: bold;
    position: relative;
    /* pointer-events: none; */
    border:3px solid #440000;
    border-radius: 10px;
    box-shadow: 7px 7px 30px #a8a8a8;
    width:400px;
    margin:0 auto;
}

.display{
    /* width:400px; */
    margin:1rem auto;
}

.target-square{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: 900;
    color:#e0ac1c;
    pointer-events: none;
}

.lSq, .dSq {
    width:50px;
    height:50px;
    display: grid;
}

.lSq {
    background-color: #f3f3f3;
    color:#440000;
}

.dSq {
    background-color: #440000;
    color:#f3f3f3;
}

.square:nth-of-type(2){
    border-radius: 10px 0 0 0;
}

.square:last-of-type{
    border-radius: 0 0 10px 0;
}

/* .square:nth-of-type(8){
    border-radius: 0 0 0 0;
} */

.square:nth-of-type(63){
    border-radius: 0 0 10px 0;
}

.square:hover {
    opacity: 0.3;
    background-color:#c7a341;
}

.file {
    text-align: right;
    font-size: 1.2em;
    align-self: flex-end;
    pointer-events: none;
}

.rank {
    pointer-events: none;
}